@import "../../resources/default-variables";
@import "../../resources/mixins";

.paragraph--type--text-with-image {
  .paragraph-container {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media (min-width: $md) {
      align-items: stretch;
      flex-direction: row;
    }

    .container-text,
    .container-image {
      @media (min-width: $md) {
        width: 50%;
        position: relative;
      }
    }
    .container-text {
      padding: 40px 20px;
      @media (min-width: $md) {
        padding: 110px 40px;
      }
    }
    .field--name-field-twi-title,
    .field--name-field-twi-description,
    .field--name-field-twi-cta {
      text-align: center;
    }
    .field--name-field-twi-title,
    .field--name-field-twi-description {
      margin-bottom: 32px;
    }
    .field--name-field-twi-image {
      img {
        @media (min-width: $md) {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .field--name-field-twi-cta {
      padding: 16px 0;
      a {
        @include cta;
      }
    }
  }
  &.right {
    .paragraph-container {
      @media (min-width: $md) {
        flex-direction: row;
      }
    }
  }
  &.left {
    .paragraph-container {
      @media (min-width: $md) {
        flex-direction: row-reverse;
      }
    }
  }
}
