@import '../resources/mixins';
@import '../resources/default-variables';

.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
  max-width: 100%;
  padding: 0;
}

.region-sidebar-first, .region-sidebar-second, .region-footer, .region-content {
  padding: 0;
}

.paragraph {
  padding: 40px 0;
  &.light {
    background-color: $light;
  }
  &.dark {
    background-color: $dark;
  }
  //&.light {
  //
  //}
  //&.light {
  //
  //}
  //&.light {
  //
  //}
}
