@import "../../resources/default-variables";
@import "../../resources/mixins";

.paragraph--type--text {
  padding: 40px 0;

  .paragraph-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .field--name-field-t-title,
  .field--name-field-t-text,
  .field--name-field-t-cta {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 0 20px;
    @media (min-width: $md) {
      max-width: 60%;
    }
  }

  .field--name-field-t-title,
  .field--name-field-t-text {
    margin-bottom: 32px;
  }

  .field--name-field-t-cta {
    padding: 16px 0;

    a {
      @include cta;
    }
  }
}
