// Colors

$light: #F3E8EB;
$dark: #DBC1AD;
$text: #433E49;
$text2: #928490;

// Font size default


// Font size large


// Break points
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
